/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Millania';
    src: url('/assets/Millania.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: Arial, sans-serif;
}

.header-font {
  font-family: 'Pacifico', cursive;
}

th {
  font-weight: normal;
}